/**
 * Created by eason on 16-9-19.
 */
#game-window{
    border:1px dashed mediumaquamarine;
    top:0;
    left:0px;
    height:900px;
    width:auto;
    floag:left;
    margin: 0 auto;
    padding-left:10px;
}
#editor-window {
    z-index: 99;
    border:1px dashed mediumaquamarine;
    width:30%;
    height:900px;
    float:right;
}
menu-bar {
    border:1px dashed mediumaquamarine;
    height: 20%;
    width:69%;
    float:left;
}
view-game {
    border:1px dashed mediumaquamarine;
    height: 60%;
    float:left;
}
view-command {
    border:1px dashed mediumaquamarine;
    height: 20%;
    width:69%;
    float:left;
}